## KLIMATA ILOILO DATA PREPROCESSING (STANDARDIZATION STAGE)

### For the next preprocessing step, we standardized the datasets to make sure all the indicators are on the same scale before combining or comparing them. We start with climate.

## Importing essential libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

### Importing CSV file for Climate data

In [2]:
KLI_DATA = pd.read_csv('CLIMATE_FINALE.csv')

### Viewing Climate Dataframe's first 5 rows

In [3]:
KLI_DATA.head()

,adm4_pcode,date,ndvi,uuid,no2,co,so2,o3,pm10,pm25,heat_index,pr,adm4_en,brgy_total_area
0,ph063022001,2003-01-01,0.47,cairq61f770,1.21,0.0845,0.41,33.08,20.72,14.15,28.73,6.17,santa cruz,0.5633
1,ph063022001,2003-01-02,0.48,cairq0d5fc0,0.72,0.0940,0.29,37.59,24.16,14.37,26.73,0.00,santa cruz,0.5633
2,ph063022001,2003-01-03,0.44,cairq0d5fc1,0.89,0.0914,0.33,37.41,19.79,12.34,27.12,0.00,santa cruz,0.5633
3,ph063022001,2003-01-04,0.48,cairq0d5fc2,0.71,0.0860,0.31,37.28,20.64,12.88,27.69,0.00,santa cruz,0.5633
4,ph063022001,2003-01-05,0.44,cairq0d5fc3,0.66,0.0862,0.34,35.99,17.62,10.76,27.13,0.00,santa cruz,0.5633

### Standardizing climate columns

In [4]:
from sklearn.preprocessing import StandardScaler

cols_to_standardize = ['ndvi', 'no2', 'co', 'so2', 'o3', 'pm10', 'pm25', 'heat_index', 'pr']

scaler = StandardScaler()

KLI_Sta = KLI_DATA.copy()
KLI_Sta[cols_to_standardize] = scaler.fit_transform(KLI_Sta[cols_to_standardize])

KLI_Sta.head()

,adm4_pcode,date,ndvi,uuid,no2,co,so2,o3,pm10,pm25,heat_index,pr,adm4_en,brgy_total_area
0,ph063022001,2003-01-01,0.160037,cairq61f770,-0.547791,0.811436,-0.342429,0.159029,0.262435,0.234337,-0.825045,-0.025823,santa cruz,0.5633
1,ph063022001,2003-01-02,0.281269,cairq0d5fc0,-1.448521,1.447295,-0.802255,1.018687,0.848446,0.287189,-1.832101,-0.587649,santa cruz,0.5633
2,ph063022001,2003-01-03,-0.203659,cairq0d5fc1,-1.136022,1.273270,-0.648980,0.984377,0.104007,-0.200487,-1.635725,-0.587649,santa cruz,0.5633
3,ph063022001,2003-01-04,0.281269,cairq0d5fc2,-1.466903,0.911834,-0.725617,0.959598,0.248806,-0.070760,-1.348714,-0.587649,santa cruz,0.5633
4,ph063022001,2003-01-05,-0.203659,cairq0d5fc3,-1.558814,0.925221,-0.610661,0.713709,-0.265657,-0.580058,-1.630689,-0.587649,santa cruz,0.5633

### Cleans up all column names for consistency

In [5]:
KLI_Sta.columns = KLI_Sta.columns.str.replace(' ', '_')

### Saves standardized climate dataframe to csv.

In [6]:
KLI_Sta.to_csv("CLIMATE_STANDARDIZED.csv", index=False)