# KLIMATA ILOILO - DATA PREPROCESSING (MERGING OF AIR QUALITY, HEAT, RAIN DATA)

In [1]:
import pandas as pd
import numpy as np

In [4]:
air_df = pd.read_csv('AQ_ILOILO.csv')
atmos_df = pd.read_csv('HEAT_INDEX_RAIN.csv')

In [5]:
air_df.head(10)

,uuid,adm4_pcode,date,no2,co,so2,o3,pm10,pm25,adm4_en,brgy_total_area
0,cairq0d5fc0,ph063022001,2003-01-02,0.72,0.0940,0.29,37.59,24.16,14.37,santa cruz,0.5633
1,cairq0d5fc1,ph063022001,2003-01-03,0.89,0.0914,0.33,37.41,19.79,12.34,santa cruz,0.5633
2,cairq0d5fc2,ph063022001,2003-01-04,0.71,0.0860,0.31,37.28,20.64,12.88,santa cruz,0.5633
3,cairq0d5fc3,ph063022001,2003-01-05,0.66,0.0862,0.34,35.99,17.62,10.76,santa cruz,0.5633
4,cairq0d5fc4,ph063022001,2003-01-06,0.76,0.0918,0.32,37.39,17.32,10.40,santa cruz,0.5633
5,cairq0d5fc5,ph063022001,2003-01-07,1.18,0.0894,0.51,38.18,18.75,11.85,santa cruz,0.5633
6,cairq0d5fc6,ph063022001,2003-01-08,1.51,0.0878,0.62,36.58,16.00,10.65,santa cruz,0.5633
7,cairq0d5fc7,ph063022001,2003-01-09,1.17,0.0837,0.33,36.30,10.74,7.33,santa cruz,0.5633
8,cairq0d5fc8,ph063022001,2003-01-10,1.43,0.0820,0.43,35.95,11.86,8.20,santa cruz,0.5633
9,cairq0d5fc9,ph063022001,2003-01-11,1.59,0.0787,0.52,35.33,13.05,9.06,santa cruz,0.5633

In [6]:
atmos_df.head(10)

,uuid,adm4_pcode,date,heat_index,pr,adm4_en,brgy_total_area
0,catms0d6038,ph063022001,2003-01-01,28.73,6.17,santa cruz,0.5633
1,catms0d6039,ph063022001,2003-01-02,26.73,0.00,santa cruz,0.5633
2,catms0d603a,ph063022001,2003-01-03,27.12,0.00,santa cruz,0.5633
3,catms0d603b,ph063022001,2003-01-04,27.69,0.00,santa cruz,0.5633
4,catms0d603c,ph063022001,2003-01-05,27.13,0.00,santa cruz,0.5633
5,catms0d603d,ph063022001,2003-01-06,27.04,0.00,santa cruz,0.5633
6,catms0d603e,ph063022001,2003-01-07,27.27,0.00,santa cruz,0.5633
7,catms0d603f,ph063022001,2003-01-08,29.27,0.00,santa cruz,0.5633
8,catms0d6040,ph063022001,2003-01-09,29.22,0.00,santa cruz,0.5633
9,catms0d6041,ph063022001,2003-01-10,28.81,0.00,santa cruz,0.5633

In [7]:
print(air_df.shape)
print(atmos_df.shape)

(1314900, 11)
(1314900, 7)

In [10]:
merged_df = pd.merge(
    air_df,
    atmos_df,
    on=['adm4_pcode', 'date'],
    how='inner'
)

In [12]:
merged_df.shape

(1314900, 16)

In [13]:
merged_df.head(10)

,uuid_x,adm4_pcode,date,no2,co,so2,o3,pm10,pm25,adm4_en_x,brgy_total_area_x,uuid_y,heat_index,pr,adm4_en_y,brgy_total_area_y
0,cairq0d5fc0,ph063022001,2003-01-02,0.72,0.0940,0.29,37.59,24.16,14.37,santa cruz,0.5633,catms0d6039,26.73,0.0,santa cruz,0.5633
1,cairq0d5fc1,ph063022001,2003-01-03,0.89,0.0914,0.33,37.41,19.79,12.34,santa cruz,0.5633,catms0d603a,27.12,0.0,santa cruz,0.5633
2,cairq0d5fc2,ph063022001,2003-01-04,0.71,0.0860,0.31,37.28,20.64,12.88,santa cruz,0.5633,catms0d603b,27.69,0.0,santa cruz,0.5633
3,cairq0d5fc3,ph063022001,2003-01-05,0.66,0.0862,0.34,35.99,17.62,10.76,santa cruz,0.5633,catms0d603c,27.13,0.0,santa cruz,0.5633
4,cairq0d5fc4,ph063022001,2003-01-06,0.76,0.0918,0.32,37.39,17.32,10.40,santa cruz,0.5633,catms0d603d,27.04,0.0,santa cruz,0.5633
5,cairq0d5fc5,ph063022001,2003-01-07,1.18,0.0894,0.51,38.18,18.75,11.85,santa cruz,0.5633,catms0d603e,27.27,0.0,santa cruz,0.5633
6,cairq0d5fc6,ph063022001,2003-01-08,1.51,0.0878,0.62,36.58,16.00,10.65,santa cruz,0.5633,catms0d603f,29.27,0.0,santa cruz,0.5633
7,cairq0d5fc7,ph063022001,2003-01-09,1.17,0.0837,0.33,36.30,10.74,7.33,santa cruz,0.5633,catms0d6040,29.22,0.0,santa cruz,0.5633
8,cairq0d5fc8,ph063022001,2003-01-10,1.43,0.0820,0.43,35.95,11.86,8.20,santa cruz,0.5633,catms0d6041,28.81,0.0,santa cruz,0.5633
9,cairq0d5fc9,ph063022001,2003-01-11,1.59,0.0787,0.52,35.33,13.05,9.06,santa cruz,0.5633,catms0d6042,28.59,0.0,santa cruz,0.5633

In [16]:
merged_df = merged_df.drop(columns=['adm4_en_x', 'brgy_total_area_x', 'uuid_y' ])

In [17]:
merged_df = merged_df.rename(columns={'uuid_x': 'uuid', 'adm4_en_y': 'adm4_en', 'brgy_total_area_y': 'brgy_total_area'})

In [18]:
merged_df.head(5)

,uuid,adm4_pcode,date,no2,co,so2,o3,pm10,pm25,heat_index,pr,adm4_en,brgy_total_area
0,cairq0d5fc0,ph063022001,2003-01-02,0.72,0.0940,0.29,37.59,24.16,14.37,26.73,0.0,santa cruz,0.5633
1,cairq0d5fc1,ph063022001,2003-01-03,0.89,0.0914,0.33,37.41,19.79,12.34,27.12,0.0,santa cruz,0.5633
2,cairq0d5fc2,ph063022001,2003-01-04,0.71,0.0860,0.31,37.28,20.64,12.88,27.69,0.0,santa cruz,0.5633
3,cairq0d5fc3,ph063022001,2003-01-05,0.66,0.0862,0.34,35.99,17.62,10.76,27.13,0.0,santa cruz,0.5633
4,cairq0d5fc4,ph063022001,2003-01-06,0.76,0.0918,0.32,37.39,17.32,10.40,27.04,0.0,santa cruz,0.5633

In [19]:
merged_df.shape

(1314900, 13)

In [20]:
merged_df.to_csv("MASTER_DATASET_CLIMATE.csv", index=False)