## KLIMATA ILOILO DATA PREPROCESSING (STANDARDIZATION STAGE)

### We also standardized the datasets to make sure all the indicators are on the same scale before combining or comparing them. We start with POPULATION_STANDARDIZED.

## Importing essential libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

### Importing CSV file for POPULATION STANDARDIZED data

In [2]:
POP_DATA = pd.read_csv('POPULATION_FINAL.csv')

### Viewing POPULATION STANDARDIZED Dataframe's first 5 rows

In [3]:
POP_DATA.head()

,uuid,adm4_pcode,date,pop_count_total,pop_count_mean,pop_count_median,pop_count_stdev,pop_count_min,pop_count_max,adm4_en,brgy_total_area
0,wdpop000001,ph063022152,2000-01-01,1492.030518,14.346447,14.088117,9.941083,1.157729,39.577888,hibao-an norte,0.8800
1,wdpop000002,ph063022015,2000-01-01,688.092651,45.872843,46.660271,6.994909,30.479767,55.304688,bantud,0.1261
2,wdpop000003,ph063022118,2000-01-01,1734.744507,133.441885,18.758980,247.449747,11.151038,968.687927,north baluarte,0.1259
3,wdpop000018,ph063022040,2000-01-01,1891.350830,61.011317,60.119343,28.049733,17.409624,128.819382,cuartero,0.2656
4,wdpop000019,ph063022020,2000-01-01,2018.401123,288.343018,268.530884,124.519965,130.097717,472.024048,monica blumentritt,0.0626

### Standardizing POPULATION STANDARDIZED columns

In [4]:
from sklearn.preprocessing import StandardScaler

cols_to_standardize = [
    'pop_count_total',
    'pop_count_mean',
    'pop_count_median',
    'pop_count_stdev',
    'pop_count_min',
    'pop_count_max'
]

scaler = StandardScaler()

POP_Sta = POP_DATA.copy()
POP_Sta[cols_to_standardize] = scaler.fit_transform(POP_Sta[cols_to_standardize])

POP_Sta.head()

,uuid,adm4_pcode,date,pop_count_total,pop_count_mean,pop_count_median,pop_count_stdev,pop_count_min,pop_count_max,adm4_en,brgy_total_area
0,wdpop000001,ph063022152,2000-01-01,-0.395875,-0.765972,-0.707411,-0.515124,-0.639011,-0.691508,hibao-an norte,0.8800
1,wdpop000002,ph063022015,2000-01-01,-0.823156,-0.526084,-0.458363,-0.550435,-0.267257,-0.631914,bantud,0.1261
2,wdpop000003,ph063022118,2000-01-01,-0.266876,0.140238,-0.671697,2.331493,-0.512312,2.829195,north baluarte,0.1259
3,wdpop000018,ph063022040,2000-01-01,-0.183642,-0.410894,-0.355455,-0.298086,-0.432964,-0.353342,cuartero,0.2656
4,wdpop000019,ph063022020,2000-01-01,-0.116117,1.318897,1.238063,0.858140,0.995730,0.947173,monica blumentritt,0.0626

### Saves standardized POPULATION STANDARDIZED dataframe to csv.

In [9]:
POP_Sta.to_csv("POP_STANDARDIZED.csv", index=False)