## KLIMATA ILOILO DATA PREPROCESSING (MERGING)

## Importing essential libraries

In [1]:
import pandas as pd
import numpy as np

### Importing CSV file for Air Quality and Location

In [2]:
air_df = pd.read_csv("AIRQUALITY.csv")
location_df = pd.read_csv("LOCATION.csv")

print(air_df.head())
print(location_df.head())

          uuid   adm4_pcode        date   no2      co   so2     o3   pm10  \
0  cairq000000  ph015518001  2003-01-02  3.66  0.1034  0.31  38.39  23.63
1  cairq000001  ph015518001  2003-01-03  4.35  0.1010  0.70  38.37  34.43
2  cairq000002  ph015518001  2003-01-04  3.82  0.1016  0.34  37.72  27.76
3  cairq000003  ph015518001  2003-01-05  3.07  0.1053  0.24  38.44  31.26
4  cairq000004  ph015518001  2003-01-06  3.02  0.0953  0.22  39.89  24.70

    pm25
0  16.21
1  23.82
2  19.16
3  20.64
4  16.68
   unnamed:_0     adm1_en   adm1_pcode      adm2_en   adm2_pcode  \
0           0    region i  ph010000000   pangasinan  ph015500000
1           1    region i  ph010000000   pangasinan  ph015500000
2           2    region i  ph010000000   pangasinan  ph015500000
3           3    region i  ph010000000   pangasinan  ph015500000
4           4  region iii  ph030000000  nueva ecija  ph034900000

        adm3_en   adm3_pcode                   adm4_en   adm4_pcode  \
0  dagupan city  ph015518000                    lomboy  ph015518016
1  dagupan city  ph015518000                    tapuac  ph015518031
2  dagupan city  ph015518000                    pantal  ph015518022
3  dagupan city  ph015518000  barangay i (t. bugallon)  ph015518024
4  palayan city  ph034919000             imelda valley  ph034919017

   brgy_total_area
0           1.0216
1           1.0440
2           3.2625
3           0.1814
4           6.3369

### Importing CSV file for Air Quality and Location

In [4]:
AIRQUALITY_ILOILO = pd.merge(air_df, location_df, on='adm4_pcode', how='inner')

### Viewing Air Qulaity Dataframe's first 10 rows

In [5]:
AIRQUALITY_ILOILO.head(10)

,uuid,adm4_pcode,date,no2,co,so2,o3,pm10,pm25,unnamed:_0,adm1_en,adm1_pcode,adm2_en,adm2_pcode,adm3_en,adm3_pcode,adm4_en,brgy_total_area
0,cairq000000,ph015518001,2003-01-02,3.66,0.1034,0.31,38.39,23.63,16.21,735,region i,ph010000000,pangasinan,ph015500000,dagupan city,ph015518000,bacayao norte,0.6558
1,cairq000001,ph015518001,2003-01-03,4.35,0.1010,0.70,38.37,34.43,23.82,735,region i,ph010000000,pangasinan,ph015500000,dagupan city,ph015518000,bacayao norte,0.6558
2,cairq000002,ph015518001,2003-01-04,3.82,0.1016,0.34,37.72,27.76,19.16,735,region i,ph010000000,pangasinan,ph015500000,dagupan city,ph015518000,bacayao norte,0.6558
3,cairq000003,ph015518001,2003-01-05,3.07,0.1053,0.24,38.44,31.26,20.64,735,region i,ph010000000,pangasinan,ph015500000,dagupan city,ph015518000,bacayao norte,0.6558
4,cairq000004,ph015518001,2003-01-06,3.02,0.0953,0.22,39.89,24.70,16.68,735,region i,ph010000000,pangasinan,ph015500000,dagupan city,ph015518000,bacayao norte,0.6558
5,cairq000005,ph015518001,2003-01-07,4.03,0.1026,0.66,39.47,39.52,27.65,735,region i,ph010000000,pangasinan,ph015500000,dagupan city,ph015518000,bacayao norte,0.6558
6,cairq000006,ph015518001,2003-01-08,4.15,0.1182,0.61,39.17,23.03,16.11,735,region i,ph010000000,pangasinan,ph015500000,dagupan city,ph015518000,bacayao norte,0.6558
7,cairq000007,ph015518001,2003-01-09,5.07,0.1047,0.58,37.90,27.20,19.13,735,region i,ph010000000,pangasinan,ph015500000,dagupan city,ph015518000,bacayao norte,0.6558
8,cairq000008,ph015518001,2003-01-10,4.48,0.1075,1.20,37.85,32.14,22.30,735,region i,ph010000000,pangasinan,ph015500000,dagupan city,ph015518000,bacayao norte,0.6558
9,cairq000009,ph015518001,2003-01-11,3.54,0.1257,0.87,39.04,27.06,18.68,735,region i,ph010000000,pangasinan,ph015500000,dagupan city,ph015518000,bacayao norte,0.6558

### Selecting rows that has Iloilo City as city names

In [6]:
AIRQUALITY_ILOILO = AIRQUALITY_ILOILO[AIRQUALITY_ILOILO['adm3_en'] == 'iloilo city']

### Dropping irrelevant columns

In [8]:
AIRQUALITY_ILOILO = AIRQUALITY_ILOILO.drop(columns=['unnamed:_0', 'adm1_en', 'adm1_pcode', 'adm2_en', 'adm2_pcode', 'adm3_en', 'adm3_pcode'])

### Viewing updated Air Qulaity Dataframe's first 5 rows

In [10]:
AIRQUALITY_ILOILO.head()

,uuid,adm4_pcode,date,no2,co,so2,o3,pm10,pm25,adm4_en,brgy_total_area
876480,cairq0d5fc0,ph063022001,2003-01-02,0.72,0.0940,0.29,37.59,24.16,14.37,santa cruz,0.5633
876481,cairq0d5fc1,ph063022001,2003-01-03,0.89,0.0914,0.33,37.41,19.79,12.34,santa cruz,0.5633
876482,cairq0d5fc2,ph063022001,2003-01-04,0.71,0.0860,0.31,37.28,20.64,12.88,santa cruz,0.5633
876483,cairq0d5fc3,ph063022001,2003-01-05,0.66,0.0862,0.34,35.99,17.62,10.76,santa cruz,0.5633
876484,cairq0d5fc4,ph063022001,2003-01-06,0.76,0.0918,0.32,37.39,17.32,10.40,santa cruz,0.5633

### Saves Air Quality dataframe to csv.

In [13]:
AIRQUALITY_ILOILO.to_csv('AQ_ILOILO.csv', index=False)